<div class="d-editor-container">
  <div class="b-editor-textarea-wrapper {{if disabled "disabled"}}
  {{if showPreview "b-editor-fifty"}} {{unless showPreview "b-editor-max"}} ">


    {{popup-input-tip validation=validation}}

    <div id="editor">
      b-editor
    </div>
  </div>

  <div class="d-editor-preview-wrapper {{if forcePreview "force-preview"}}">
    <div class="d-editor-preview">{{html-safe preview}}</div>
  {{plugin-outlet name="editor-preview" classNames="d-editor-plugin" args=outletArgs}}
  </div>
</div>
