
<h3>{{i18n 'category.basic_editor_setting_heading'}}</h3>
<section class="field replace_editor_setting">
  <label for="replace_editor_setting">
    {{i18n 'category.replace_editor'}}
  </label>
  {{text-field value=category.custom_fields.replace_editor classNames="input-setting-string"}}
</section>
<section class="field replace_preview_setting">
  <label for="replace_preview_setting">
    {{i18n 'category.replace_preview'}}
  </label>
  {{text-field value=category.custom_fields.replace_preview classNames="input-setting-string"}}
</section>
